<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.coderhub.greenapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.product.productList.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.coderhub.greenapp.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.freshFood.FreshFoodActivity"
            android:label="@string/title_activity_fresh_food"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.coderhub.greenapp.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="tech.coderhub.auth.registerScreen.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="tech.coderhub.auth.loginScreen.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.coderhub.auth.loginScreen.LoginActivity" />
        </activity>
        <activity android:name="tech.coderhub.auth.loginScreen.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tech.coderhub.auth.changePasswordScreen.ChangePasswordActivity" />
        <activity android:name="tech.coderhub.auth.forgotPasswordScreen.ForgotPasswordActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="Available Services" />
        <activity android:name="tech.coderhub.auth.profileDetailsScreen.ProfileDetailsActivity" />
        <activity android:name="tech.coderhub.auth.profileEditScreen.ProfileEditActivity" />
    </application>

</manifest>